[NESTS]
# Minimum spawnpoints to include the possible nest into the geojson file
minimum_spawnpoints = 2

# Minimum m2 to include the possible nest into the geojson file
minimum_m2 = 30

[DB]
# Database settings to store the nests
host = 127.0.0.1
port = 3306
name = golbat
user = YOUR_USER_HERE
password = YOUR_PASSWORD_HERE
