[NESTS]
# Minimum spawnpoints to include the possible nest into the geojson file
minimum_spawnpoints = 8

# Minimum m2 to include the possible nest into the geojson file
minimum_m2 = 100

# Maximum allowed percentage overlap of nests, smallest one will be de-activated
maximum_overlap = 60

[DB]
# Database settings to store the nests
host = 127.0.0.1
port = 3306
name = golbat
user = YOUR_USER_HERE
password = YOUR_PASSWORD_HERE

[CHANSEY]
# As nests can only be parially covered by the mon scan area,
# spawnpoints known ouside the mon area due to i.e. bigger quest area
# could result a nest being marked "active" where in fact it should not.
# Limiting the spawnpoints used for verification to chansey mon area fences should reduce this effect
use_chansey_db = False

# Chansey database settings
host = 127.0.0.1
port = 3306
name = chansey
user = YOUR_USER_HERE
password = YOUR_PASSWORD_HERE
