### db (stats_db is only used in createAreas.sh to export mon fences to areas.json)
db_ip=127.0.0.1
db_port=3306
golbat_db=golbat
stats_db=
sql_user=
sql_pass=

### golbat
golbat_api=9001
golbatsecret=
golbat_path=
golbat_latest_log=		# i.e. /home/dkmur/.pm2/logs/golbat-out.log

### nestcollector
nestcollector_path=

### nest processing to db
### add processNests.sh to cron to run periodically, alligned with nest_processing_frequency_hours
nest_processing_frequency_hours=6
nest_min_spawn_hr=3
